<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
    <h1>Blog posts</h1>
    {%if authorized%}
    <h2>Logged in as {{authorized.name}}</h2>
    <textarea rows="4" cols="50" name="comment" form="usrPost"></textarea>
    <form action="/blog" method="POST" id="usrPost">
        <input type="submit">
    </form>
    {%endif%}
    {%if blog%}
    <ul id="tray">
        <!--<div class="post"></div>-->
        {%for post in blog%}
            {%if authorized%}
            <ul>
                <textarea rows="4" cols="50" name={{post[0]}} form="usrModify">
                    {{post[2]}}
                </textarea>
                <form action="/blog" method="POST" id="usrModify">
                    <input type="submit" value="Update">
                </form>
                <form action="/blog" method="POST" id="usrDelete">
                    <input type="submit" value="Delete">
                </form>
            </ul>
            {%else%}
            <ul>{{post[2]}}</ul>
            {%endif%}
        {%endfor%}
    </ul>
    {%endif%}
</body>
</html>
