.box {
    background-color:grey;
    padding:10px;
    border:1px;
    color:white
}

.error {
    background-color:red;
}

.center-row {
    display:table;
}

.center {
    display:table-cell;
    vertical-align:middle;
    float:none;
}
